$bg-color: #312450;

$primary-color: rgb(153, 211, 78);
$secondary-color: rgb(114, 192, 68);

body {
  background-color: $bg-color;
}

textarea, select, input, button, li { outline: none; }

button.button {
  border-radius: 5px;
  border: 0;
  background-color: $primary-color;
  padding: 7px 10px;
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 1px 2px 5px lighten($bg-color,20%);
}

h1.logo-title {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 38px;
}

.client-list {
  display: flex;
  flex-direction: column;

  .client-list-item {
    flex-grow: 1;
  
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  
    color: darken($bg-color, 40%);
    background-color: $primary-color;

    &:hover, &.open {
      background-color: darken($primary-color, 10% );
   
      .client-list-item-header .delete {
        color: darken($primary-color, 30%);
      }
    }

    &.open {
      .client-list-item-header {
        border-width: 1px;
        border-style: solid;
        border-color: lighten($primary-color, 30% );
      }
    }

    .client-list-item-header {
      display: flex;
      cursor: pointer;
      height: 45px;

      .name {
        display: inline-block;
        justify-self: center;
        padding: 12px;
        flex-grow: 1;
      }

      .delete {
        cursor: pointer;
        color: $primary-color;
        padding: 14px;
      }
    }

    .client-detail {
      background-color: lighten($bg-color, 20%);
      padding: 10px;

      .react-tabs {
        ul.react-tabs__tab-list {
          margin: 0;
          padding:0;
        }

        li.react-tabs__tab {
          display: inline-block;
          list-style-type: none;
          color: $primary-color;
          padding: 10px;
          margin-right:5px;
          cursor: pointer;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          &.react-tabs__tab--selected{
            background-color: lighten($bg-color, 60%);
            color: $bg-color;
          }
        }

        .react-tabs__tab-panel--selected {
          background-color: lighten($bg-color, 60%);
          margin: 0;
          padding: 15px;
          box-shadow:  0 -4px 3px lighten($bg-color, 15%);

          .title {
            color: darken($secondary-color, 10%); 
            margin: 0;
            margin-bottom:10px;
            font-size: 20px
          }
        }

      }
    }
  }

  .add-client-form {
    margin: 0 20px 20px 18px;
  }
}


.bills-list-container {
  .bills-list {
    margin-bottom: 20px;

    .bills-list-item {
      display: flex;
      flex-direction: row;
      padding: 7px 5px;

      &:nth-child(odd){
        background-color: lighten($bg-color, 48%);
      }

      .name, .date, .amount,  .delete {
        flex: 2;
        padding: 0 3px; 
      }
      .name {
        flex: 3;
      }

      .amount {
        text-align: right;
      }

      .currency {
        font-size: 12px;
        padding-top: 5px ;
      }

      .delete {
        flex: 1;
        justify-self: flex-end;
        flex-shrink: 1;
        cursor: pointer;
        visibility: hidden;
      }

      &:hover{
        .delete {
          visibility: visible;
          color: darken($secondary-color, 30%);
        }
      }
    }

    .bill-sum {
      padding: 10px;
      margin-right: 10%;
      text-align: right;

      .other-currencies, .default-currency, .total  {
        padding: 5px 0;

        .currency{
          font-size: 12px;
          padding-left:5px;
        }
      }

      .netto, .div {
        color: lighten($bg-color, 20%);
        font-size: 10px;
      }

      .amount {
        font-weight: bold;
      }

      .other-currencies {
        color: lighten($bg-color, 20%);

        &>span{
          margin-right: 4px; 
        }
      }

      .default-currency {
        
      }
      .total {
      }
    }
  }

  .add-bill-container {

    &.open{
      .add-bill { display: none; }
    }

    .add-bill-form {

      .add-bill-form-inner {
        display: flex;
        flex-direction: row;
        
        .column{
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 50%;
        }
        
        .field{
          display: flex;
          padding: 0 10px 10px 0;
        }
  
        .buttons{
          margin-top: 20px;
        }
      }
    }
  }
}

label {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  font-size: 14px;
  padding-top: 6px; 
  flex-shrink: 0;
}
input, textarea, select {
  flex-grow: 1;
  border: 0;
  padding: 8px 10px;
  margin-right: 10px;
  color: $bg-color;
  font-size: 14px;

  background-color: lighten($bg-color, 50%);
  border-radius: 5px;

  &.error {
    background-color: rgb(212, 135, 135);
  }
}

span.error {
    display: inline;
    position: relative;
    bottom: 0;
    right: -10px;
}

select{
  height: 33px;
}